
a {
    text-decoration-line: none;
    color: #0097A7;
}

.horizontal-line {
    color: inherit;
    background-color: currentColor;
    border: 1px solid #828282;
    opacity: 0.25;

    --bs-gutter-x: 1.5rem;
    margin-right: calc(var(--bs-gutter-x) * -.5);
    margin-left: calc(var(--bs-gutter-x) * -.5);
}

.nav-wight {
    min-width: 100%;
}

.left-column, .right-column {
    height: 90vh;
    border: 1px solid #c1d6cc;
}